table{
    border-collapse: collapse;
    font: 20px Calibri;
    border-style: hidden;
}
th, tr, td{
    border: 2px dotted white;
    font-weight: normal;
}
tr:first-child th:nth-child(-n+2){
    border-right: 2px dotted grey;
}
tr:nth-child(n+2):nth-child(-n+4){
    background: yellow;
}
tr:nth-child(n+5):nth-child(-n+7){
    background: limegreen;
}
tr:nth-child(n+8):nth-child(-n+11){
    background: rgba(191, 78, 22, 0.81);
}
tr:nth-child(n+11):nth-child(-n+13){
    background: cornflowerblue;
}
tr:nth-child(14){
    background: hotpink;
}
tr:last-child{
    background: deeppink;
}
td:last-child{
    text-align: center;
}
tr:nth-child(n+2) th{
    text-transform: uppercase;
    text-align: left;
}
tr:nth-child(8) th:first-child{
    background: white;
    text-align: center;
}
.vertical-text{
    position: relative;
    transform: rotate(-90deg);
}